* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #111;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* SECÇÃO FIXA */
#intro {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  z-index: 10;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.rotate-on-scroll {
  width: 60vw;
  max-width: 600px;
  height: auto;
  transform-origin: center center;
  transition: transform 0.05s linear;
}


/* ÁREA DE SCROLL ARTIFICIAL */
.scroll-zone {
  height: 500vh;
}

/* SECÇÕES NORMAIS */
.chapter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.element {
  width: 45vw;
  max-width: 450px;
  opacity: 0;
  transform: translateY(40px) scale(0.9);
  transition: 1s ease-out;
}

.element.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.caption {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 300;
  max-width: 600px;
}

.footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}
